In [1]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import env

# DBSCAN import
from sklearn.cluster import DBSCAN
# Scaler import
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_table("anonymized-curriculum-access.txt", sep = '\s', header = None,
                    names = ['date', 'time', 'page', 'id', 'cohort', 'ip'])

In [3]:
df

,date,time,page,id,cohort,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33

In [4]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
        return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [5]:
df2 = pd.read_sql('''            
                            SELECT id as cohort, start_date, end_date, program_id 
                            FROM curriculum_logs.cohorts;  ''', get_connection('curriculum_logs'))

In [6]:
df2

    cohort  start_date    end_date  program_id
0        1  2014-02-04  2014-04-22           1
1        2  2014-06-04  2014-08-22           1
2        3  2014-09-04  2014-11-05           1
3        4  2014-10-20  2015-01-18           1
4        5  2014-11-18  2015-02-24           1
5        6  2015-02-03  2015-05-26           1
6        7  2015-06-05  2015-10-06           1
7        8  2015-09-22  2016-02-06           1
8        9  2015-03-30  2015-07-29           4
9       10  2015-11-03  2016-03-11           4
10      11  2016-01-20  2016-05-12           1
11      12  2016-03-08  2016-06-30           1
12      13  2016-05-23  2016-09-15           1
13      14  2016-07-18  2016-11-10           1
14      15  2016-09-26  2017-02-02           2
15      16  2016-10-26  2017-03-09           2
16      17  2017-02-06  2017-05-25           1
17      18  2017-03-27  2017-07-20           2
18      19  2017-06-05  2017-09-22           1
19      20  2017-07-31  2017-12-06           2
20      21  2017-09-27  2018-02-15           2
21      22  2018-01-08  2018-05-17           2
22      23  2018-03-05  2018-07-19           2
23      24  2018-05-29  2018-10-11           2
24      25  2018-07-23  2018-11-29           2
25      26  2018-09-17  2019-02-08           2
26      27  2018-11-05  2019-04-03           2
27      28  2014-02-04  2014-02-04           2
28      29  2019-01-22  2019-06-04           2
29      30  2019-02-04  2019-06-16           3
30      31  2019-03-18  2019-07-30           2
31      32  2019-05-28  2019-10-08           2
32      33  2019-07-15  2019-12-11           2
33      34  2019-08-19  2020-01-30           3
34      51  2019-09-16  2020-02-27           2
35      52  2019-11-04  2020-04-17           2
36      53  2020-01-13  2020-06-23           2
37      55  2020-02-03  2020-07-07           3
38      56  2020-02-24  2020-07-29           2
39      57  2020-03-23  2020-08-20           2
40      58  2020-05-26  2020-11-10           2
41      59  2020-07-13  2021-01-12           3
42      60  2020-07-20  2021-01-21           2
43      61  2020-07-20  2021-01-21           2
44      62  2020-09-21  2021-03-30           2
45     132  2020-11-02  2021-05-04           2
46     133  2020-12-07  2021-06-08           3
47     134  2020-12-07  2021-06-08           2
48     135  2021-01-25  2021-07-19           2
49     136  2021-03-03  2029-03-01           2
50     137  2021-03-15  2021-09-03           3
51     138  2021-03-15  2021-09-03           2
52     139  2021-04-12  2021-10-01           2

In [7]:
logs = pd.merge(df, df2, how='left', left_on='cohort', right_on='cohort')
logs

,date,time,page,id,cohort,ip,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,2015-09-22,2016-02-06,1.0
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,2015-09-22,2016-02-06,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,2015-09-22,2016-02-06,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,2015-09-22,2016-02-06,1.0
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,2018-01-08,2018-05-17,2.0
...,...,...,...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,2014-02-04,2014-02-04,2.0
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,2014-02-04,2014-02-04,2.0
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,2014-02-04,2014-02-04,2.0
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,2014-02-04,2014-02-04,2.0
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,2014-02-04,2014-02-04,2.0

In [9]:
(logs['date'] >= logs.start_date) & (logs['date'] <= logs.end_date)

0         False
1         False
2         False
3         False
4          True
          ...
900218    False
900219    False
900220    False
900221    False
900222    False
Length: 900223, dtype: bool

In [11]:
logs['active'] = np.where((logs['date'] >= logs.start_date) & (logs['date'] <= logs.end_date), 1, 0)
logs.active.value_counts()

active
1    647496
0    252727
Name: count, dtype: int64

In [12]:
hi

NameError: name 'hi' is not defined